log/
logs/
/storage
start.sh
stop.sh
restart.sh
batstart.sh
batstop.sh
batrestart.sh
node_modules/
lstart.sh
lrestart.sh
src/batch/sample/batExec.sh
src/batch/sample/batExec.sh.log
src/accounting/asyncTest.js
src/batch/FileTest.js
src/batch/sample/rootTest.js
SystemStart.json
SystemStart-prod.json
batStart-dev.json
batStart.json
query/BatExecScrap.json
.DS_Store


*.bak

/test

#테스트키만 허용
/keys/*
!/keys/*TEST*
